@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  @media (min-width: 1024px) {
    .wrapper-chosing-us-card-img {
      @apply relative;
    }

    .wrapper-chosing-us-card-img .wrapper-chosing-us-img {
      @apply relative;
    }

    .wrapper-chosing-us-card-img::before {
      content: "";
      position: absolute;
      top: 10%;
      left: -20px;
      width: 250px;
      height: 330px;
      border: 3px solid #fff;
      border-radius: 10px 150px 10px 10px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    }
  }
}

@layer components {
  .imgTestimonials {
    @apply rounded-l-[150px] rounded-br-[150px] shadow-md;
  }
}
